.toggle {
  position: relative;
  padding-left: 40px;

  &__switch {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 100%;
    background-color: bisque;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: lightcoral;
      border-radius: 50%;

      .is-active & {
        left: auto;
        right: 0;
      }
    }
  }
}
